<!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="UTF-8"> 
        <title>Welcome!</title> 
    </head> 
    <body style="font-family: Arial, sans-serif; color:#222; line-height:1.6;"> 
        
        <p>Hello <strong>{{ user.username }}</strong>,</p>
        <p>Thank you for joining <strong>MOSAIC</strong>.</p> 

        <p>You can now browse our photographers, read the latest articles on our blog, and contact photographers directly for your projects.</p> 

        <p> Visit the website:<br> <a href="https://mosaic.digitics.fr/" style="color:#000; text-decoration:underline;"> MOSAIC </a> </p> <p>We are pleased to have you with us.</p> 
        
        <p>Best regards,<br> <strong>The MOSAIC Team</strong></p> 
    
    </body> 
    
</html>