html, body {
    font-family: var(--font-base);
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    /* background-color: var(--color-white); */

    p, :is(h1, h2, h3, h4, h5, h6)  {
        color: var(--color-grey-900);
    }
}

body {
    background-color: var(--color-white);
}

body:is(.page--account, .page--profile) {
    color: var(--color-white);
    p,
    :is(h1, h2, h3, h4, h5, h6),
    a {
        color: var(--color-white);
    }
}

body.page--account {
    background-color: var(--color-black);
}

body.page--profile {
    background-color: var(--color-grey-800);
}

body.page--account .page-wrapper {
   margin-top: 0;
  }

section.page {
    padding: 0 20px;
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: var(--height-navbar);
}

.main-section-page {
    margin-top: 170px ;
    margin-bottom: 280px;
}

.content {
    flex: 1; 
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 400;
}
h1, h2 {
    font-weight: 700;
}
h1 {
    font-size: 48px;
}
.page-hero__title {
    font-size: clamp(2rem, 7vw, 3.8rem);
}
h2 {
    font-size: 80px;
}
h3 {
    font-size: 46px;
    font-weight: 500;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 20px;
    font-weight: 300;
}
h6 {
    font-size: 20px;
}

.account-meta {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 0; 
}

.text-medium {
    font-size: 20px;
    color: var(--color-grey-700);
    font-weight: 300;
    line-height: 1.5rem;
}


.comment {
    border: 1px solid black;
    padding: 30px;
}

.section-centered {
    width: var(--width-content);
    margin: auto;
}

.section-divider__large {
    background-color: var(--color-accent);
    height: 7px ;
    width: 90px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

.tab--active {
    position: relative;
    &:after {
        position: absolute;
        content: "";
        bottom: -8px;
        left: 50%;               
        transform: translateX(-50%);
        height: 4px;
        /* width: 25px; */
        width: 60%;
        background-color: var(--color-accent);
    }
}

.u-divider-large {
    width: 100%;
    height: 180px;
}
.u-divider-medium {
    width: 100%;
    height: 130px;
}

.u-divider-small {
    width: 100%;
    height: 80px;
}

.u-large-line-height {
    line-height: 1.6rem;
}
.u-img-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.u-display-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.u-display-space-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* &----------- SEARCH BAR ---------- */
/* &--------------------------------- */

.search-bar {
    margin-bottom: 35px;

    .search-bar__input-group {
        background-color: var(--color-grey-900);
        color: var(--color-white);
        display: flex;
        width: 100%;
    }
    form {
        display: flex;
        height: 50px;
    }
    .search-bar__button svg path {
        transition: var(--transition-base);
        &:hover {
            fill: var(--color-accent);
        }
    }
    .search-bar__button {
        padding-left: 10px;
    }
    input {
        background-color: transparent;
        border: none;
        padding: 0 15px;
        width: 100%;
        &::placeholder {
            color: var(--color-white);
        }
        &:focus {
            outline: none;
            border: 1px solid var(--color-gray-900);
        }
    }
    .search-bar__clear {
        width: 50px;
        border: 1px solid var(--color-grey-900);
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--transition-base);
        font-size: 24px;
        font-weight: 600;
        &:hover {
            background-color: var(--color-grey-900);
            color: var(--color-white);
        }
     
     
    }
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 16px;
    width: 16px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M10 8.6L4.7 3.3 3.3 4.7 8.6 10l-5.3 5.3 1.4 1.4L10 11.4l5.3 5.3 1.4-1.4L11.4 10l5.3-5.3-1.4-1.4z'/%3E%3C/svg%3E") no-repeat center;
    background-size: contain;
    cursor: pointer;
}

/* &------------ ALERT -------------- */
/* &--------------------------------- */


.register-form-error {
    color: var(--color-error);
}

.field-error li{
    border: 1px solid red;
    display: inline-block;
    padding: 5px 20px;
}



.auth-form__alert {

}

.auth-form__alert-emailVerified {
    padding: 19px;
    border: 1px solid var(--color-error);
    margin-bottom: 20px;
    /* background-color: var(--color-grey-700); */
}

.flash-message {
    position: fixed;
    top: 20px; 
    left: 50%;
    transform: translateX(-50%) translateY(-20px); 
    z-index: 9999;
    padding: 25px;
    background-color: var(--color-black);
    border: 1px solid var(--color-accent);
    color: var(--color-white);
    font-size: 16px;
    opacity: 0; 
    transition: opacity 0.5s ease, transform 0.5s ease;
    max-width: 90%;
    text-align: center;
}

.flash-message.show {
    opacity: 1;
    transform: translateX(-50%) translateY(0); 
}

.flash-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
    position: absolute;
    top: 8px;
    right: 12px;
}

/* .flash-message.alert-success { background-color: #4caf50; }
.flash-message.alert-error   { background-color: #e63946; }
.flash-message.alert-warning { background-color: #f4b400; }
.flash-message.alert-info    { background-color: #2196f3; } */


/* &--------- TEXT SCROLL ----------- */
/* &--------------------------------- */

.scroll-text-section {
    position: relative;
    overflow: hidden;
}
.scroll-text-section__content {
    position: relative;
    z-index: 1;
}
.bg-text--scroll {
    position: absolute;
    top: -23px;
    left: -20px;
    width: calc(100% + 60px);
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

.bg-text--light {
    opacity: 0.2;
    z-index: 20;
}

.bg-text__track {
    color: var(--color-grey-200);
    line-height: 1;
    opacity: 0.4;
    white-space: nowrap;
    font-family: var(--font-heading);
    font-size: 180px;
    font-weight: 700;
    display: flex;
    gap: 4rem;
    width: max-content;
    animation: scroll-left 20s linear infinite;
}
@keyframes scroll-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

/* &------------ BUTTON ------------- */
/* &--------------------------------- */

.button {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    height: 47px;
    transition : var(--transition-base)
}

.button--large {
    width: 100%;
    height: 60px;
}
.button--medium {
    padding: 0 20px;
}
.button--small {
    height: 42px;
    width: 175px;
}

.button--black {
    border: 1px solid var(--color-grey-900);
    background-color: var(--color-grey-900);
    color: var(--color-white);
    &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-grey-900);
        color: var(--color-grey-900);
    }
}
.button--accent {
    border: 1px solid var(--color-grey-900);
    background-color: var(--color-accent);
    color: var(--color-grey-900);
    &:hover {
        background-color: var(--color-grey-900);
        border-color: var(--color-accent);
        color: var(--color-white);
    }
}

.button--border-accent {
    border: 1px solid var(--color-accent);
    background-color: var(--color-grey-900);
    color: var(--color-accent);
    &:hover {
        background-color: var(--color-accent);
        border-color: var(--color-accent);
        color: var(--color-grey-900);
    }
}

/* &------------ INPUT ------------- */
/* &-------------------------------- */

.input {
    width: 100%;
    height: 47px;
    background-color: var(--color-white);
    border: none;
    padding-left: 10px;
}

.input--dark {
    background-color: var(--color-black) ;
    border: 1px solid var(--color-grey-700);
    padding-left: 40px;
    &:focus {
        outline: none;
        border: 1px solid var(--color-accent);
    }
    &::placeholder {
        color: var(--color-grey-200);
        opacity: 0.9;
        font-weight: 300;
    }
}

.input--large {
    height: 60px;
}

.input--textarea {
    height: auto;
    resize: vertical;
    overflow: auto;  
}

.input--line {
    background-color: transparent;
    border: 1px solid transparent;
    border-bottom-color: var(--color-grey-200);
    padding-left: 20px;
    transition: border-color 0.2s ease;
    color: var(--color-white);
    &::placeholder {
        color: var(--color-white);
        font-weight: 300;
    }
    &:focus {
        border-color: var(--color-accent); 
        outline: none;
        

    }
    
}

.terms--checkbox {
    display: flex;
    gap: 10px;
    p {
        font-weight: 300;
    }

    a {
        color: var(--color-accent);
        font-weight: 400;
        transition: var(--transition-base);
        &:hover {
            text-decoration: underline;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* &-------- SCROLL TOP BTN --------- */
/* &-------------------------------- */

.scroll-top-btn {
  position: fixed;
  bottom: 40px;  
  right: 40px;   
  font-size: 1.5rem;
  border : 1px solid var(--color-accent);
  background-color: #333;
  color: #fff;
  cursor: pointer;
  display: flex!important;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  z-index: 1000; 
  opacity: 0.7;
  transition: opacity 0.3s;
}

.scroll-top-btn:hover {
  opacity: 1;
}

/* ?------------- LARGE ------------- */

@media (max-width: 1500px) {
    .section-centered {
        width: 90%;
    }
}

@media (max-width: 1280px) {
    .main-section-page {
        margin-top: 160px ;
        margin-bottom: 220px;
    }
}

/* ?------------- MEDIUM ------------ */


@media (max-width: 1024px) {
    h2 { font-size: 60px; }
    h3 { font-size: 36px; }
    h4 { font-size: 22px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }

    .u-divider-medium {
        height: 90px;
    }

    .section-centered {
        width: 100%;
    }
    
}

/* ?------------- SMALL ------------- */

@media (max-width: 768px ) {
    h1 { font-size: 38px; }
    h2 { font-size: 42px; }
    h3 { font-size: 30px; }
    h4 { font-size: 22px; }
    h5 { font-size: 20px; }
    h6 { font-size: 18px; }

    .main-section-page {
        margin-top: 100px ;
        margin-bottom: 120px;
    }
    .scroll-top-btn {
        display: none;
    }
}

@media (max-width: 900px ) {

}


/* ?------------ VERY SMALL --------- */
@media (max-width: 480px) {
    h2 { font-size: 34px; }
    h3 { font-size: 26px; }
    h4 { font-size: 20px; }
    h5 { font-size: 18px; }
    h6 { font-size: 16px; }
}


