:root {
    /* PALETTE */
    --color-white : #F2F2F2;
    --color-black : #151515;

    --color-grey-900: #1c1c1c;
    --color-grey-800: #2F2F2F;
    --color-grey-700: #585858;
    --color-grey-400: #9c9c9c;
    --color-grey-200: #D2D2CE;
    --color-accent: #5FEEAB;

    --color-error: #ffb8b2; 
    --color-danger : #e78181; 

    /* TYPO */
    --font-base: 'Lato', sans-serif;
    --font-heading: 'Oswald', sans-serif;

    /* USAGE */
    /* --text-primary: var(--grey-900);
    --text-secondary: var(--grey-700);
    --border-default: var(--grey-800); */
    
    --breakpoint-mobile: 768px;
  
    --width-content : 73%;
    --height-navbar : 100px;
    /* --radius-sm: 4px;
    --radius-md: 8px;*/
  
    --transition-base: ease-in-out 0.3s; 
}