<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Welcome to Our Website</title>
</head>
<body>
    <h1>Welcome, {{ user.username }}!</h1>
    <p>Thank you for registering on our platform. We're happy to have you with us.</p>
    <p>Feel free to explore and let us know if you have any questions.</p>
</body>
</html>