.section-contact {
    padding: 0 20px;

    .contact__container {
        display: flex;
        align-items: flex-end;
        gap: 45px;

    }
    .contact__form-wrapper {
        padding: 70px 80px 80px 80px ;
        background-color: var(--color-grey-900);
        width: 50%;
        p, h5 {
            color: var(--color-white);
        }
        h2 {
            color: var(--color-accent);
            margin-bottom: 15px;
        }
        .contact__header {
            padding-bottom: 20px;
            margin-bottom: 35px;
            border-bottom: 1px solid var(--color-grey-200);
        }

        .contact__fields {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-bottom: 30px;
        }

        .contact__submit {
            margin-top: 40px;
        }
        
    }

    .contact__info {
        width: 50%;
        .contact__header {
            margin-bottom: 40px;
            h3 {
                margin-bottom: 15px;
            }
        }
        .contact__details {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        .contact__detail-label {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        .contact__detail-link {
            font-family: var(--font-heading);
            font-size: 26px;
            font-weight: 500;
            text-transform: uppercase;
            line-height: 1.4rem;
            transition: var(--transition-base);
            &:hover {
                color: var(--color-grey-700);
            }
        }

        .contact__detail {
            display: flex;
            align-items: center;
            gap: 25px;
        }


    }
}



/* ?------------- LARGE ------------- */

@media (max-width: 1500px) {

}

@media (max-width: 1280px) {
    .section-contact {
        .contact__form-wrapper {
            padding: 30px;
        }
        .contact__container {
            align-items: normal;
            flex-direction:column-reverse;
        }
    }
    .section-contact {
        .contact__info, .contact__form-wrapper {
            width: 100%;
        }
    }

}

/* ?------------- MEDIUM ------------ */


@media (max-width: 1024px) {


    
}

/* ?------------- SMALL ------------- */

@media (max-width: 768px ) {

}

@media (max-width: 900px ) {

}


/* ?------------ VERY SMALL --------- */
@media (max-width: 480px) {

}


