{% extends 'base.html.twig' %}

{% block title %}My profile{% endblock %}

{% block body_class %}page--profile{% endblock %}

{% block body %}

<twig:Banner
title="Contact"
subtitle="Something to say?"
/>

<section>
    {{ form_start(contactForm) }}
    {{ form_widget(contactForm) }}
    {{ form_end(contactForm) }}
</section>

{% endblock %}