{% extends 'base.html.twig' %}
{% block title %}Contact Us{% endblock %}

{% block body %}

<twig:Banner
    title="Stay in touch  with us!"
    subtitle="Questions? Ideas? Let's talk."
    :breadcrumbs="[
        { label: 'Home', url: path('home') },
        { label: 'Contact' }
    ]"
/>

<section
    class="main-section-page contact u-display-center"
    aria-labelledby="contact-title"
>

    <div class="contact__container">
        {% include 'layout/contact.html.twig' %}
    </div>

</section>

{% endblock %}