.section-about, .section-services {
    height: 100vh;
    padding-top: 40px;
}

/* &-------------- HERO ------------- */
/* &--------------------------------- */

.hero {
    height: 100vh;
    background: black;
}
/* &------------ ABOUT US ----------- */
/* &--------------------------------- */

.section-about {
    .scroll-text-section {
        height: 100%;
        padding: 0 20px;
    }

    .section-about__text-image {
        display: flex;
        gap:90px;
        border: 1px solid var(--color-grey-200);
        padding: 48px;
        margin-bottom: 64px;

        .section-divider__large {
            margin: 16px 0 ;
        }

        .text-medium {
            strong {
                color: var(--color-white);
                background-color: var(--color-grey-900);
            }
        }
    }

    .section-about__image-wrapper {

        .section-about__figure {
            width: 305px;
            height: 305px;
            border: 1px solid var(--color-grey-200);
            margin-right: 140px;
        }
    }

    .section-about__features {
        display: flex;
        justify-content: space-between;


        .section-about__feature {
            display: flex;
            gap: 35px;
            align-items: center;
            width: 30%;
            border-bottom: 1px solid var(--color-grey-200);
            padding: 50px;
        }

        .section-about__feature-title {
            margin-bottom: 7px;
        }
    }
}

/* &------------ SERVICE ---_-------- */
/* &--------------------------------- */

.section-services {
    .section-intro {
        width: var(--width-content);
        margin: auto;
    }
    .section-services__content {
        .section-services__list {
            display: flex;
            gap: 25px;
        }
        .section-services__item {
            width: 25%;
        }

        figure {
            width: 100%;
            height: 50%;
            
        }
    }
}