.section-about, .section-services, .section-works, .section-articles  {
    height: auto;
    padding-top: 40px;
}

.section-photographs {
    height: auto;
    padding: 80px 0px;
}

.section-testimonials {
    padding-top: 40px;
    margin-bottom: 80px;
}

.section-dark {
    background-color: var(--color-grey-900);
}

.scroll-text-section {
    /* height: 100%; */
    padding: 0 20px;
}

/* &-------------- HERO ------------- */
/* &--------------------------------- */

.hero {
    height: calc(100vh - var(--height-navbar));
    background:#181818;
    overflow: hidden;

    h1, p {
        color: var(--color-white);
    }

    h1 {
        display: flex;
        padding-left: 40px;
        font-weight: 400;
        font-size: clamp(3rem, 10vw, 4.5rem);
        color: var(--color-grey-200);
        position: relative;
        margin-bottom: 20px;
        opacity: 0;
        transform: translateY(-30px);
        &:before {
            content: "";
            position: absolute;
            bottom: 7px;
            left: 0;
            width: 30px;
            height: 4px;
            background-color: var(--color-accent);
        }
    }
    .hero__subtitle {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: 40px;
        text-align: left;
        line-height: 1.4rem;
        opacity: 0;
        transform: translateX(100%);
    }
    .hero__cta {
        color:var(--color-accent);
        font-size: 18px;
        opacity: 0;
        transform: translateY(100%);
        &:hover {
            color: var(--color-white);
        }
        &:hover span {
            margin-left: 20px;
        }
        span {
            margin-left: 10px;
            transition: var(--transition-base);
        }
    }

    .hero__sidebar {
        background-color: var(--color-grey-900);
        width : 80px;
        height: 100%;
    }
    .hero__sidebar--left {
        border-right: 1px solid var(--color-accent);
        transform: translateY(-100%);
    }
    .hero__sidebar--right {
        border-left: 1px solid var(--color-accent);
        transform: translateY(-100%);
    }
    .hero__container {
        display:flex;
    }

    .hero__main {
        width: 100%;
        overflow: hidden;
        position: relative;
        background-color: #181818;
    }

    figure, .hero__container {
        height: 100%;
    }

    .hero__figure {
        height: 100%;
    }

    .hero__image {
        will-change: transform;
        opacity: 0;
        transform: translateY(100%);
    }
    .hero__content {
        position: absolute;
        top: 65%;
        left: 10%;
        /* transform: translate(-50%, -50%); */
        text-align: center;
        color: var(--color-white);
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
}
/* &------------ ABOUT US ----------- */
/* &--------------------------------- */

.section-about {
    margin-top: 60px;

    .section-about__text-image {
        display: flex;
        gap:90px;
        border: 1px solid var(--color-grey-200);
        padding: 48px;
        margin-bottom: 15px;

        .section-divider__large {
            margin: 16px 0 ;
        }

        .text-medium {
            strong {
                color: var(--color-white);
                background-color: var(--color-grey-900);
            }
        }
    }

    .section-about__image-wrapper {

        .section-about__figure {
            width: 365px;
            height: 480px;
            border: 1px solid var(--color-grey-200);
            margin-right: 60px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 90%;
                background-color: var(--color-accent);
                transform: translate(20px, 20px);
                z-index: -1;
            }

            picture {
                width: 100%;
                height: 100%;
            }
        }
    }

    .section-about__features {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;


        .section-about__feature {
            display: flex;
            gap: 35px;
            align-items: center;
            width: 30%;
            border-bottom: 1px solid var(--color-grey-200);
            padding: 30px;
        }

        .section-about__feature-title {
            margin-bottom: 7px;
        }
    }
}

.section-about__feature-title.icon-box__link {
    font-size:20px ;
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-weight: 500;
}
/* &------------ SERVICES ----------- */
/* &--------------------------------- */

.section-services {
    .section-intro {
        width: var(--width-content);

        
    }
    .section-services__content {
        display: flex;
        flex-direction: column;
        align-items : center;

        .section-services__list {
            display: flex;
            gap: 25px;
        }
        
    }
}




/* &------------ PHOTOGRAPH ---------- */
/* &---------------------------------- */

.section-photographs__list {
    width: var(--width-content);
    display: flex;
    gap: 25px;
    margin: auto;
}

.section-photographs {
    .section-intro__subtitle {
        color: var(--color-white);
    }
}

/* &-------------- WORKS ------------- */
/* &---------------------------------- */

.section-works {
    height: auto;
    .section-intro {
        width: var(--width-content);
        margin-left: auto;
        margin-right: auto;
        padding: 0 20px;
    }

    .scroll-text-section {
        padding: 0;
    }
    
    .section-works__gallery {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        
    }
    .gallery__item {
        position: relative;
        overflow: hidden;
        aspect-ratio: 3 / 4;
        display: flex;
        background-color: var(--color-grey-900);

        &:hover .gallery__image {
            translate: 10px 0;
            background-color: var(--color-grey-900);
            opacity: 0.4;
        }

        &:hover .gallery__detail {
            translate: 0 0;
        }
        
        .gallery__image  {
            transition: ease-in-out 0.5s!important;
            position: absolute;
        }

        .gallery__detail {
            position: absolute;
            background-color: var(--color-grey-900);
            height: 100%;
            width: 90px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            transform: rotate(180deg);
            padding-top: 40px;
            display: grid;
            align-items: center;
            transition: ease-in-out 0.3s;
            translate: -110px 0;
            a {
                color: var(--color-white);
            }

            .gallery__detail-content {
                display: flex;
                gap: 12px;
                line-height: 1;
                align-items: flex-end;
            }
            .gallery__name {
                font-family: var(--font-heading);
                font-size: 28px;
                font-weight: 500;
                text-transform: uppercase;
                transition: var(--transition-base);
                color: var(--color-white);
                &:hover{
                    color: var(--color-accent);
                }
            }
            .separator {
                width: 4px;
                height: 18px;
                background-color: var(--color-accent);
            }
            .gallery__service {
                font-family: var(--font-base);
                font-size: 22px;
                color: var(--color-white);

            }
        }

      }
      
      .gallery__item--landscape {
        grid-column: span 2;
        aspect-ratio: 16 / 9;
        height: 100%;
      }
}

/* @media (max-width: 1024px) {
    .section-works__gallery {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .gallery__item--landscape {
      grid-column: span 2;
    }
}
@media (max-width: 600px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  
    .gallery__item--landscape {
      grid-column: span 1;
    }
  } */

/* &---------- TESTIMONIALS --------- */
/* &--------------------------------- */

.section-testimonials {
    .scroll-text-section {
        padding-bottom: 45px;
    }
    .section-testimonials__container {
        display: flex;
        column-gap: 140px;
    }
    .testimonial-card__quote {
        position: absolute;
        z-index: -1;
        
        svg {
            color: var(--color-accent);
            transition: var(--transition-base);
            width: 60px;
        }
    }

    .testimonial-card__quote--top {
        top: -9px;
        left: -30px;
    }

    .testimonial-card__quote--bottom {
        bottom: -43px;
        right: 0;
        transform: scaleX(-1);
    }

    .testimonial-card{
        width: 590px;
        position: relative;
        display: flex;
        flex-direction: column;
        &:hover .testimonial-card__star--filled polygon {
           fill: var(--color-accent);
        }
        &:hover .testimonial-card__quote svg {
            color: var(--color-accent);
        }
    }
    .testimonial-card__rating {
        text-align: right;
    }

    .testimonial-card__star {
        margin-left: 3px;
        margin-bottom: 40px;
        svg {
            width: 20px;
            height: 20px;

            polygon {
                fill: var(--color-grey-900);
            }
        }
        /* font-size: 32px; */
    }
    .testimonial-card__star--filled {
        transition: var(--transition-base);
    }
    .testimonial-card__star--empty polygon {
        fill: var(--color-grey-200)!important;
    }
    .testimonial-card__content {
        margin: 10px 0 50px  0 ;
        flex-grow: 1;
    }
    .testimonial-card__text {
        color: var(--color-grey-700);
        font-size: clamp(15px, 2.2vw, 18px);
        font-weight: 400;
    }
    .testimonial-card__author-subtitle {
        font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    .testimonial-card__author-name {
        font-size: 20px;
    }
}

/* &-------------- BLOG ------------- */
/* &--------------------------------- */

.section-articles__container {
    display: flex;
    gap: 33px;

    .related-articles {
        width : 100%;
        padding : 0px!important;
    }
}


/* &------------ ANIMATION ---------- */
/* &--------------------------------- */

#home-page {
    .section-about__text {
        opacity: 0;
        transform: translateY(100px);
    }
    
    .section-about__image-wrapper {
        opacity: 0;
        transform: translateX(50px);
    }
    
    .section-about__feature {
        opacity: 0;
        transform: translateY(50px);
    }
    
    .section-services__item {
        opacity: 0;
    }
    
    .embla__slide {
      opacity: 0;
      transform: translateY(50px);
    }
    
    .carousel-nav {
        opacity: 0;
    }
    
    .section-works .gallery__image {
        filter: saturate(0); 
        transition: filter 0.8s ease; 
    }
    
    .testimonial-card {
        opacity: 0;
        transform: translateY(50px);
    }
    
    .contact__form-wrapper {
        opacity: 0;
        transform: translateY(100px);
    }
    
    .contact__info {
        opacity: 0;
        transform: translateY(50px);
    }
    
    .contact__detail.icon-box__container {
        opacity: 0;
        transform: translateY(50px);
    }
    
    .article-card {
        opacity: 0;
        transform: translateY(50px);
    }
    
    .section-intro {
        opacity: 0;
        transform: translateY(50px); 
        transition: opacity 0.3s ease, transform 0.3s ease;
    }
}

/* ?-------- MEDIA QUERIES  --------- */
/* ?--------------------------------- */



/* ?------------- LARGE ------------- */

@media (max-width: 1500px) {
    .section-services .section-intro,
    .section-works .section-intro,
    .section-intro--light,
    .section-photographs__list {
      width: 100%;
    }
  }


@media (max-width: 1280px) {
    .section-about {
        & .section-about__features {
            gap: 30px;
            .section-about__feature {
                padding: 40px 20px;
                width: 100%;
            }
        }
    }
    .section-services {
        & .section-services__content {
            .section-services__list {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 16px; 

            }
        }
    }
    .hero {
        .hero__content {
            max-width: 360px;
        }
    }
    .hero__content {
        top: 60%;
        left: 10%;
    }
}

/* ?------------- MEDIUM ------------ */


@media (max-width: 1024px) {
    .section-about {
        .section-about__text-image {
            gap: 50px;
            flex-direction: column;
        }
    }
    .section-about {
        & .section-about__features {
            flex-direction: column;
            gap: 30px;
        }
    }

    .section-testimonials {
        & .testimonial-card__quote {
            svg {
                width: 90px;
            }
        }
        .section-testimonials__container
     {
            column-gap: 80px;
        }
        .testimonial-card__author-subtitle {
            font-size: 20px;

        }
    }

    .section-about {
        & .section-about__image-wrapper {
            .section-about__figure{
            width: 100%;
            margin-right: 0px;
            }
        }
    }

    .section-works {
    .section-works__gallery {
        grid-template-columns: repeat(4, 1fr);
    }

    .section-works {
    .gallery__item{
            aspect-ratio: 1 / 1;
            height: 400px;
        }
    }

    .section-works {
        .gallery__item--landscape{
            grid-column: span 2;
            aspect-ratio: 1 / 1;
            height: auto;
        }
    }
    .section-works__gallery > figure:last-child {
        display: none;
    }
}


}

/* ?------------- SMALL ------------- */

@media (max-width: 900px ) {
    .section-photographs__list {
        flex-direction: column;
    }
    .section-photographs
    {
        height: 100%;
        padding-bottom: 80px;
    }
}



@media (max-width: 768px ) {
    .section-about {
        & .section-about__features {
            margin-top: 40px;
        }
    }
    .section-testimonials {
        margin-bottom: 0px;
    }
    .section-services {
        & .section-services__content {
            .section-services__list {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }

    .section-testimonials {
        .section-testimonials__container
        {
            flex-direction: column;
            gap: 80px;
            max-width: 500px;
            margin: auto;

        }
        .testimonial-card {
               width: 100%;
           }
    }

    .section-articles__container {
        flex-direction: column;
    }

    .hero .hero__content {
        top: 20%;
        left: 10%;
    }

    .hero__sidebar {
        display: none;
    }

    .section-works {
    .section-works__gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    }

    .section-about .section-about__text-image {
        padding: 25px;
    }
    .section-about {
        & .section-about__image-wrapper {
            & .section-about__figure {
                &::after {
                    transform: translate(10px, 10px);
                }
            }
        }
    }

    .section-about {
        & .section-about__image-wrapper {
            .section-about__figure {
                height: 350px;
            }
        }
    }

}



/* ?------------ VERY SMALL --------- */
@media (max-width: 480px) {

}
