<article class="artist-card">
    <figure class="artist-card__media">
        <img
            src=""
            alt="Portrait of Name Name"
            class="artist-card__image"
        >
    </figure>

    <div class="artist-card__overlay">
        <p class="artist-card__bio">
            Photographer specialized in natural light and outdoor portraits.
        </p>
    </div>

    <div class="artist-card__content">
        <h3 class="artist-card__name">
            Name Name
        </h3>

        <div class="artist-card__footer">
            <ul class="artist-card__tags" aria-label="Artist specialties">
                <li class="artist-card__tag">Tag</li>
                <li class="artist-card__tag">Tag</li>
                <li class="artist-card__tag">Tag</li>
            </ul>

            <a
                href="#"
                class="artist-card__link"
                aria-label="View Name Name profile"
            >
                icon arrow
            </a>
        </div>
    </div>
</article>