<article class="testimonial-card">
        
    <div class="testimonial-card__quote testimonial-card__quote--top" aria-hidden="true">
        <svg width="109" height="91" viewBox="0 0 109 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M109 0H60.2368V49.2226L85.9494 90.0805H101.571L86.2764 51.4746H109V0ZM48.7632 0H0V49.2226L25.7125 90.0805H41.3339L26.0395 51.4746H48.7632V0Z" fill="currentColor"/>
        </svg>
    </div>

    <div class="testimonial-card__rating" aria-label="Note : 4 sur 5">
        <span class="testimonial-card__star testimonial-card__star--filled">★</span>
        <span class="testimonial-card__star testimonial-card__star--filled">★</span>
        <span class="testimonial-card__star testimonial-card__star--filled">★</span>
        <span class="testimonial-card__star testimonial-card__star--filled">★</span>
        <span class="testimonial-card__star testimonial-card__star--empty">★</span>
    </div>


    <div class="testimonial-card__content">
        <p class="testimonial-card__text u-large-line-height">
            {{ content }}
        </p>
    </div>


    <div class="testimonial-card__author">
        <p class="testimonial-card__author-subtitle">{{ subtitle }}</p>
        <p class="testimonial-card__author-name">{{ username }}</p>
    </div>


    <div class="testimonial-card__quote testimonial-card__quote--bottom" aria-hidden="true">
        <svg width="109" height="91" viewBox="0 0 109 91" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M109 0H60.2368V49.2226L85.9494 90.0805H101.571L86.2764 51.4746H109V0ZM48.7632 0H0V49.2226L25.7125 90.0805H41.3339L26.0395 51.4746H48.7632V0Z" fill="currentColor"/>
        </svg>
    </div>

</article>