{% extends 'base.html.twig' %}
{% block body %}

    <h1>Paiement réussi 🎉</h1>
    <p>Merci ! Votre commande #{{ orderId }} est confirmée.</p>

    {% if invoice %}
        <a href="{{ path('invoice_download', { id: invoice.id }) }}" target="_blank">
            Télécharger ma facture
        </a>
    {% endif %}

{% endblock %}