<section class="contact scroll-text-section" aria-labelledby="contact-title">

    <div class="bg-text--scroll bg-text--contact" aria-hidden="true">
        <div class="bg-text__track">
            <span>CONTACT US</span>
            <span>CONTACT US</span>
            <span>CONTACT US</span>
            <span>CONTACT US</span>
        </div>
    </div>

    <div class="contact__container ">

        <!-- LEFT : CONTACT FORM -->
        <div class="contact__form-wrapper">
            <header class="contact__header">
                <h2 id="contact-title" class="contact__title">Contact Us</h2>
                <h5 class="contact__intro">
                    Lorem ipsum dolor sit amet, lectus gravida sus.
                </h5>
            </header>

            <form class="contact__form" action="#" method="post" novalidate>
                <div class="contact__fields">

                    <div class="contact__field">
                        <label for="contact-name" class="contact__label sr-only ">Name</label>
                        <input
                            type="text"
                            id="contact-name"
                            placeholder="Name"
                            name="name"
                            class="contact__input input input--line"
                            autocomplete="name"
                            required
                        >
                    </div>

                    <div class="contact__field">
                        <label for="contact-email" class="contact__label sr-only">Email address</label>
                        <input
                            type="email"
                            id="contact-email"
                            placeholder="Email address"
                            name="email"
                            class="contact__input input input--line"
                            autocomplete="email"
                            required
                        >
                    </div>

                    <div class="contact__field">
                        <label for="contact-subject" class="contact__label sr-only">Subject</label>
                        <input
                            type="text"
                            id="contact-subject"
                            placeholder="Subject"
                            name="subject"
                            class="contact__input input input--line"
                            required
                        >
                    </div>

                    <div class="contact__field">
                        <label for="contact-message" class="contact__label sr-only">Message</label>
                        <textarea
                            id="contact-message"
                            placeholder="Message"
                            name="message"
                            class="contact__textarea input input--textarea input--line"
                            rows="6"
                            required
                        ></textarea>
                    </div>

                </div>

                <div class="contact__consent terms--checkbox">
                    <input
                        type="checkbox"
                        id="contact-terms"
                        name="terms"
                        class="contact__checkbox"
                        required
                    >
                    <label for="contact-terms " class="contact__checkbox-label">
                        <p> I agree to the collection and use of my personal data in accordance with the <a href="#">Privacy Policy</a>. </p> 
                    </label>
                </div>

                <button type="submit" class="contact__submit button button--large button--accent">
                    Send
                </button>
            </form>
        </div>

        <!-- RIGHT : CONTACT DETAILS -->
        <div class="contact__info">
            <header class="contact__header">
                <h3 class="contact__title">Detail Information</h3>
                <p class="contact__intro">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </header>

            <address class="contact__details">

                <div class="contact__detail">
                   <div class="contact__icon">
                        <twig:IconBox 
                            svg='<svg 
                            width="30" 
                            viewBox="0 0 30 35" 
                            fill="none" 
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon-box__svg"
                        >
                            <path d="M28.3333 23.9032C26.3333 23.9032 24.1667 23.5208 22.3333 22.7559H21.8333C21.3333 22.7559 21 22.9471 20.6667 23.3296L17 27.5365C12.3333 24.6681 8.33333 20.2699 6 14.9156L9.66667 10.7087C10.1667 10.135 10.3333 9.37007 10 8.79639C9.5 6.69291 9.16667 4.20697 9.16667 1.91226C9.16667 0.956129 8.33333 0 7.5 0H1.66667C0.833333 0 0 0.956129 0 1.91226C0 19.8875 12.6667 34.4207 28.3333 34.4207C29.1667 34.4207 30 33.4645 30 32.5084V25.8155C30 24.8594 29.1667 23.9032 28.3333 23.9032ZM3.33333 3.82452H5.83333C6 5.54555 6.33333 7.26658 6.66667 8.79639L4.66667 11.0911C4 8.79639 3.5 6.31045 3.33333 3.82452ZM26.6667 30.5961C24.5 30.4049 22.3333 29.8312 20.3333 29.0663L22.3333 26.7716C23.6667 27.1541 25.1667 27.5365 26.6667 27.5365V30.5961ZM20 1.91226C20 3.05961 19.3333 3.82452 18.3333 3.82452C17.3333 3.82452 16.6667 3.05961 16.6667 1.91226C16.6667 0.764904 17.3333 0 18.3333 0C19.3333 0 20 0.764904 20 1.91226ZM25 1.91226C25 3.05961 24.3333 3.82452 23.3333 3.82452C22.3333 3.82452 21.6667 3.05961 21.6667 1.91226C21.6667 0.764904 22.3333 0 23.3333 0C24.3333 0 25 0.764904 25 1.91226ZM30 1.91226C30 3.05961 29.3333 3.82452 28.3333 3.82452C27.3333 3.82452 26.6667 3.05961 26.6667 1.91226C26.6667 0.764904 27.3333 0 28.3333 0C29.3333 0 30 0.764904 30 1.91226ZM20 7.64904C20 8.79639 19.3333 9.56129 18.3333 9.56129C17.3333 9.56129 16.6667 8.79639 16.6667 7.64904C16.6667 6.50168 17.3333 5.73678 18.3333 5.73678C19.3333 5.73678 20 6.50168 20 7.64904ZM25 7.64904C25 8.79639 24.3333 9.56129 23.3333 9.56129C22.3333 9.56129 21.6667 8.79639 21.6667 7.64904C21.6667 6.50168 22.3333 5.73678 23.3333 5.73678C24.3333 5.73678 25 6.50168 25 7.64904ZM30 7.64904C30 8.79639 29.3333 9.56129 28.3333 9.56129C27.3333 9.56129 26.6667 8.79639 26.6667 7.64904C26.6667 6.50168 27.3333 5.73678 28.3333 5.73678C29.3333 5.73678 30 6.50168 30 7.64904ZM20 13.3858C20 14.5332 19.3333 15.2981 18.3333 15.2981C17.3333 15.2981 16.6667 14.5332 16.6667 13.3858C16.6667 12.2385 17.3333 11.4736 18.3333 11.4736C19.3333 11.4736 20 12.2385 20 13.3858ZM25 13.3858C25 14.5332 24.3333 15.2981 23.3333 15.2981C22.3333 15.2981 21.6667 14.5332 21.6667 13.3858C21.6667 12.2385 22.3333 11.4736 23.3333 11.4736C24.3333 11.4736 25 12.2385 25 13.3858ZM30 13.3858C30 14.5332 29.3333 15.2981 28.3333 15.2981C27.3333 15.2981 26.6667 14.5332 26.6667 13.3858C26.6667 12.2385 27.3333 11.4736 28.3333 11.4736C29.3333 11.4736 30 12.2385 30 13.3858Z" fill="#D2D2CE"/>
                        </svg>'
                        />
                    </div>
                    <div class="contact__detail-content">
                        <p class="contact__detail-label">Phone number</p>
                        <a href="tel:+33102030405" class="contact__detail-link">
                            01 02 03 04 05
                        </a>
                    </div>
                </div>

                <div class="contact__detail">
                    <div class="contact__icon">
                        <twig:IconBox 
                            svg='<svg 
                            width="30" 
                            viewBox="0 0 30 35" 
                            fill="none" 
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon-box__svg"
                        >
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.9375 11.2497C1.18614 11.2497 1.4246 11.3485 1.60041 11.5243C1.77623 11.7001 1.875 11.9386 1.875 12.1872V28.125H28.125V12.1872C28.125 11.9386 28.2238 11.7001 28.3996 11.5243C28.5754 11.3485 28.8139 11.2497 29.0625 11.2497C29.3111 11.2497 29.5496 11.3485 29.7254 11.5243C29.9012 11.7001 30 11.9386 30 12.1872V29.0625C30 29.3111 29.9012 29.5496 29.7254 29.7254C29.5496 29.9012 29.3111 30 29.0625 30H0.9375C0.68886 30 0.450403 29.9012 0.274588 29.7254C0.0987722 29.5496 0 29.3111 0 29.0625V12.1872C0 11.9386 0.0987722 11.7001 0.274588 11.5243C0.450403 11.3485 0.68886 11.2497 0.9375 11.2497Z" fill="#D2D2CE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M1.875 6.56212C1.875 6.31348 1.97377 6.07502 2.14959 5.8992C2.3254 5.72338 2.56386 5.62461 2.8125 5.62461H27.1875C27.4361 5.62461 27.6746 5.72338 27.8504 5.8992C28.0262 6.07502 28.125 6.31348 28.125 6.56212V15.3185C28.1249 15.4729 28.0867 15.6249 28.0138 15.761C27.9408 15.897 27.8354 16.013 27.7069 16.0985L15.5194 24.2174C15.3655 24.3198 15.1848 24.3744 15 24.3744C14.8152 24.3744 14.6345 24.3198 14.4806 24.2174L2.29313 16.0985C2.16459 16.013 2.05917 15.897 1.98623 15.761C1.91329 15.6249 1.87508 15.4729 1.875 15.3185V6.56212ZM3.75 7.49964V14.816L15 22.3105L26.25 14.816V7.49964H3.75Z" fill="#D2D2CE"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M14.4806 0.157018C14.6345 0.0546277 14.8152 0 15 0C15.1848 0 15.3655 0.0546277 15.5194 0.157018L23.9569 5.78211L22.9181 7.34213L15 2.06392L7.08187 7.34213L6.04313 5.78211L14.4806 0.157018ZM27.8513 9.64842L29.7254 11.5243L28.3987 12.851L26.5237 10.9759L27.8513 9.64842ZM3.47625 10.9759L1.60125 12.851L0.274588 11.5243L2.14875 9.64842L3.47625 10.9759ZM8.90625 11.2497C8.90625 11.1254 8.95564 11.0061 9.04354 10.9182C9.13145 10.8303 9.25068 10.7809 9.375 10.7809H20.625C20.7493 10.7809 20.8685 10.8303 20.9565 10.9182C21.0444 11.0061 21.0938 11.1254 21.0938 11.2497C21.0938 11.374 21.0444 11.4933 20.9565 11.5812C20.8685 11.6691 20.7493 11.7185 20.625 11.7185H9.375C9.25068 11.7185 9.13145 11.6691 9.04354 11.5812C8.95564 11.4933 8.90625 11.374 8.90625 11.2497ZM9.84375 14.9998C9.84375 14.8754 9.89314 14.7562 9.98104 14.6683C10.069 14.5804 10.1882 14.531 10.3125 14.531H19.6875C19.8118 14.531 19.931 14.5804 20.019 14.6683C20.1069 14.7562 20.1562 14.8754 20.1562 14.9998C20.1562 15.1241 20.1069 15.2433 20.019 15.3312C19.931 15.4191 19.8118 15.4685 19.6875 15.4685H10.3125C10.1882 15.4685 10.069 15.4191 9.98104 15.3312C9.89314 15.2433 9.84375 15.1241 9.84375 14.9998Z" fill="#D2D2CE"/>
                                                </svg>'
                        />
                    </div>
                    <div class="contact__detail-content">
                        <p class="contact__detail-label">Email address</p>
                        <a href="mailto:contact@mosaic.com" class="contact__detail-link">
                            contact@mosaic.com
                        </a>
                    </div>
                </div>

                <div class="contact__detail">
                    <div class="contact__icon">
                        <twig:IconBox 
                            svg='<svg 
                            width="30" 
                            viewBox="0 0 30 35" 
                            fill="none" 
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon-box__svg"
                        >
                            <path d="M20 30L10 26.5L2.25 29.5C1.69444 29.7222 1.18056 29.66 0.708333 29.3133C0.236111 28.9667 0 28.5011 0 27.9167V4.58333C0 4.22222 0.104444 3.90278 0.313333 3.625C0.522222 3.34722 0.806667 3.13889 1.16667 3L10 0L20 3.5L27.75 0.5C28.3056 0.277778 28.8194 0.340556 29.2917 0.688334C29.7639 1.03611 30 1.50111 30 2.08333V25.4167C30 25.7778 29.8961 26.0972 29.6883 26.375C29.4806 26.6528 29.1956 26.8611 28.8333 27L20 30ZM18.3333 25.9167V6.41667L11.6667 4.08333V23.5833L18.3333 25.9167ZM21.6667 25.9167L26.6667 24.25V4.5L21.6667 6.41667V25.9167ZM3.33333 25.5L8.33333 23.5833V4.08333L3.33333 5.75V25.5Z" fill="#D2D2CE"/>
                        </svg>'
                        />
                    </div>
                    <div class="contact__detail-content">
                        <p class="contact__detail-label">Address</p>
                        <address class="contact__detail-link">
                            <a
                                href="https://www.google.com/maps?q=12+rue+des+Arts+67200+Strasbourg"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="contact__detail-link"
                            >
                                12 rue des Arts 67200 Strasbourg
                            </a>
                    </div>
                </div>

            </address>
        </div>

    </div>
</section>