<section class="newsletter" aria-labelledby="newsletter-title">
    <div class="newsletter__wrapper">
        <div class="newsletter__content">
            <h4 id="newsletter-title" class="newsletter__title">
                Subscribe to our newsletter
            </h4>
    
            <p class="newsletter__description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
            </p>
        </div>
    
        <form class="newsletter__form" method="post" action="#">
            <div class="newsletter__field">
                <label for="newsletter-email" class="newsletter__label">
                </label>
    
                <input
                    type="email"
                    id="newsletter-email"
                    name="email"
                    class="input newsletter__input"
                    placeholder="Email..."
                    required
                    autocomplete="email"
                />
            </div>
    
            <button type="submit" class=" button button--large button--black newsletter__button">
                SEND
            </button>



        </form>
    </div>
</section>